<html>
  <head>
    <title>Блог Pilligrim28</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a href="{% url 'home' %}" class="my-0 mr-md-auto font-weight-build" ><h2>Pilligrim28</h2></a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a href="{% url 'home' %}" button type="button" class="btn btn-light" >Главная</a></button>
    <a href="{% url 'post_new' %}" button type="button" class="btn btn-primary" >Новый пост </button></a>
   
{% if user.is_authenticated %}
    <p>Привет {{ user.username }}!</p>
  <a href="{% url 'logout' %}" button type="button" class="btn btn-primary" >Выйти </button></a>
      {% else %}
        <p>You are not logged in.</p>
  <a href="{% url 'login' %}"button type="button" class="btn btn-primary" >Войти</button></a>
  <a href="{% url 'signup' %}" button type="button" class="btn btn-primary" >Регистрация </button></a>

{% endif %}
</div>
</nav>
</div>

<div class="container">
      {% block content %}
      {% endblock content %}
    </div>
    
  </body>
</html>