{% extends 'base.html' %}
 
{% block content %}
    <h1>Delete post</h1>
    <form action="" method="post">{% csrf_token %}
      <p>Вы хотите удалить "{{ post.title }}"?</p>
      <input type="submit" value="Удалить?" />
    </form>
{% endblock content %}