{% extends 'base.html' %}
 
{% block content %}
    <h1>Редактировать пост</h1>
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
    <input type="submit" value="Обновить"/>
</form>
{% endblock content %}