{% extends 'base.html' %}

{% block content %}
  <div class='post-entry'>
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
  </div>
 <a href='{% url 'post_edit' post.pk %}'button type="button" class="btn btn-primary">Редактировать</a>
 <a href='{% url 'post_delete' post.pk %}'button type="button" class="btn btn-danger">Удалить</a>
{% endblock content %}